{% extends "includes/base.html" %}

{% block content %}
<div class="l-container  l-container--large">
	<h1 class="">HEY! IT WORKS!</h1>
	<div class="l-column  l-column--2@small">
		<h2 class="l-column__span">This is a long title that should span across all colums</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis, nisl posuere porttitor dignissim, metus augue consectetur metus, ut finibus diam diam quis magna. Aliquam nibh urna, bibendum nec iaculis sit amet, consequat a dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dapibus ante, eget euismod sapien. Aliquam ac auctor ligula. Curabitur bibendum ex id mi sodales varius. Morbi id venenatis est, non eleifend libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis et risus metus. Aliquam efficitur ultrices sapien, vel facilisis justo ornare id. Sed vehicula, nisl a imperdiet fermentum, ex ex tincidunt urna, in varius urna velit non augue. Quisque dictum massa velit, et porta sem pellentesque in. Curabitur egestas massa ut risus gravida lacinia. Nullam quam arcu, congue ultricies rhoncus eu, porttitor nec nulla.</p>
		<p>Nullam eget dolor tortor. Vivamus eget ipsum eu felis euismod posuere. Aenean egestas, ex sit amet eleifend mollis, ex erat posuere turpis, in vestibulum metus velit vel nunc. Donec dolor neque, tincidunt ut fermentum id, laoreet vitae arcu. Maecenas eget orci eget odio hendrerit porttitor nec eu elit. In ac sapien nec sem scelerisque interdum. Mauris vitae eros sodales, porttitor elit sit amet, cursus purus. Duis sit amet nibh metus. Donec auctor vulputate dolor eu tristique. Maecenas efficitur, libero rhoncus consequat pretium, elit neque feugiat tellus, ac scelerisque velit risus eget diam. Nunc iaculis felis venenatis eros dictum auctor. In id tincidunt ligula, sed malesuada nulla. Pellentesque sed ex ligula.</p>
	</div>
</div>

<div class="l-container  l-container--large">
	<div class="l-flex">
		<div class="l-flex__item  l-width--1/3@medium">
			<p>33.333%</p>
		</div>
		<div class="l-flex__item  l-width--1/3@medium">
			<p>33.333%</p>
			<p>...</p>
		</div>
		<div class="l-flex__item  l-width--1/3@medium">
			<p>33.333%</p>
			<p>...</p>
			<p>...</p>
		</div>
	</div>
</div>
{% endblock %}
