//
// Class Naming Structure
//
$global-namespace-components: "c-" !default;
$global-namespace-layouts: "l-" !default;
$global-namespace-themes: "t-" !default;
$global-namespace-utilities: "u-" !default;

$global-separator-element: "__" !default;
$global-separator-modifier: "--" !default;
$global-separator-breakpoint: "#{\@}" !default;
$global-separator-state: "#{\?}" !default;

// Defines the default delimiter for Height, Width, Push and Pull classes
// Options: 'fraction', 'percentage' or 'fragment'
$global-delimiter-style: 'fraction' !default;

//
// Breakpoints
//
$breakpoint-xsmall: 20em !default;
$breakpoint-small: 30em !default;
$breakpoint-medium: 48em !default;
$breakpoint-large: 64em !default;
$breakpoint-xlarge: 78em !default;
$breakpoint-super: 116em !default;

$global-breakpoints: (
	'xsmall': $breakpoint-xsmall,
	'small': $breakpoint-small,
	'medium': $breakpoint-medium,
	'large': $breakpoint-large,
	'xlarge': $breakpoint-xlarge,
	'super': $breakpoint-super
) !default;

//
// Spacing
//
$spacing-none: 0 !default;
$spacing-tiny: .125em !default;
$spacing-xsmall: .25em !default;
$spacing-small: .5em !default;
$spacing-medium: 1em !default;
$spacing-large: 1.5em !default;
$spacing-xlarge: 2em !default;
$spacing-super: 3em !default;

$global-spacing: (
	'none': $spacing-none,
	'tiny': $spacing-tiny,
	'xsmall': $spacing-xsmall,
	'small': $spacing-small,
	'medium': $spacing-medium,
	'large': $spacing-large,
	'xlarge': $spacing-xlarge,
	'super': $spacing-super
) !default;

// The default spacing unit is used for margins between common elements,
// grid gutters, indentation and more.
$global-spacing-default: map-get($global-spacing, large) !default;

//
// Sizing
//
$global-sizing: (
	1,
	2,
	3,
	4,
	6
) !default; // Width, height, push, pull denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

//
// Colors
//
$color-tint: 9 !default;
$color-tint-dark: $color-tint !default;
$color-tint-darker: $color-tint * 2 !default;
$color-tint-light: $color-tint !default;
$color-tint-lighter: $color-tint * 2 !default;

$color-black: #111 !default;
$color-grey: #B0BEC5 !default;
$color-white: #FFF !default;
$color-beige: #F2F2EA !default;
$color-red: #F44336 !default;
$color-pink: #E91E63 !default;
$color-purple: #9C27B0 !default;
$color-blue: #2196F3 !default;
$color-green: #4CAF50 !default;
$color-cyan: #00BCD4 !default;
$color-yellow: #FFEB3B !default;
$color-orange: #FF9800 !default;
$color-brown: #795548 !default;

$color-brand: #2C3E50 !default;
$color-info: $color-blue !default;
$color-warning: $color-orange !default;
$color-success: $color-green !default;
$color-error: $color-red !default;

$color-default: darken($color-grey, $color-tint-dark) !default;
$color-disabled: darken($color-grey, $color-tint-dark) !default;
$color-quiet: darken($color-grey, $color-tint-dark) !default;

$colors: (
	transparent: transparent,
	current: currentColor,
	black: $color-black,
	grey: $color-grey,
	white: $color-white,
	beige: $color-beige,
	red: $color-red,
	pink: $color-pink,
	purple: $color-purple,
	blue: $color-blue,
	green: $color-green,
	cyan: $color-cyan,
	yellow: $color-yellow,
	orange: $color-orange,
	brown: $color-brown,
	brand: $color-brand,
	info: $color-info,
	warning: $color-warning,
	success: $color-success,
	error: $color-error,
	default: $color-default,
	disabled: $color-disabled,
	quiet: $color-quiet,
	grey-dark: darken($color-grey, $color-tint-dark),
	red-dark: darken($color-red, $color-tint-dark),
	pink-dark: darken($color-pink, $color-tint-dark),
	purple-dark: darken($color-purple, $color-tint-dark),
	blue-dark: darken($color-blue, $color-tint-dark),
	green-dark: darken($color-green, $color-tint-dark),
	cyan-dark: darken($color-cyan, $color-tint-dark),
	yellow-dark: darken($color-yellow, $color-tint-dark),
	orange-dark: darken($color-orange, $color-tint-dark),
	brown-dark: darken($color-brown, $color-tint-dark),
	grey-darker: darken($color-grey, $color-tint-darker),
	red-darker: darken($color-red, $color-tint-darker),
	grey-light: lighten($color-grey, $color-tint-light),
	red-light: lighten($color-red, $color-tint-light),
	pink-light: lighten($color-pink, $color-tint-light),
	purple-light: lighten($color-purple, $color-tint-light),
	blue-light: lighten($color-blue, $color-tint-light),
	green-light: lighten($color-green, $color-tint-light),
	cyan-light: lighten($color-cyan, $color-tint-light),
	yellow-light: lighten($color-yellow, $color-tint-light),
	orange-light: lighten($color-orange, $color-tint-light),
	brown-light: lighten($color-brown, $color-tint-light),
	grey-lighter: lighten($color-grey, $color-tint-lighter),
	red-lighter: lighten($color-red, $color-tint-lighter),
	pink-lighter: lighten($color-pink, $color-tint-lighter),
	purple-lighter: lighten($color-purple, $color-tint-lighter),
	blue-lighter: lighten($color-blue, $color-tint-lighter),
	green-lighter: lighten($color-green, $color-tint-lighter),
	cyan-lighter: lighten($color-cyan, $color-tint-lighter),
	yellow-lighter: lighten($color-yellow, $color-tint-lighter),
	orange-lighter: lighten($color-orange, $color-tint-lighter),
	brown-lighter: lighten($color-brown, $color-tint-lighter),
	pink-darker: darken($color-pink, $color-tint-darker),
	purple-darker: darken($color-purple, $color-tint-darker),
	blue-darker: darken($color-blue, $color-tint-darker),
	green-darker: darken($color-green, $color-tint-darker),
	cyan-darker: darken($color-cyan, $color-tint-darker),
	yellow-darker: darken($color-yellow, $color-tint-darker),
	orange-darker: darken($color-orange, $color-tint-darker),
	brown-darker: darken($color-brown, $color-tint-darker),
	brand-dark: darken($color-brand, $color-tint-dark),
	brand-darker: darken($color-brand, $color-tint-darker),
	brand-light: lighten($color-brand, $color-tint-light),
	brand-lighter: lighten($color-brand, $color-tint-lighter),
	info-dark: darken($color-info, $color-tint-dark),
	info-darker: darken($color-info, $color-tint-darker),
	info-light: lighten($color-info, $color-tint-light),
	info-lighter: lighten($color-info, $color-tint-lighter),
	warning-dark: darken($color-warning, $color-tint-dark),
	warning-darker: darken($color-warning, $color-tint-darker),
	warning-light: lighten($color-warning, $color-tint-light),
	warning-lighter: lighten($color-warning, $color-tint-lighter),
	success-dark: darken($color-success, $color-tint-dark),
	success-darker: darken($color-success, $color-tint-darker),
	success-light: lighten($color-success, $color-tint-light),
	success-lighter: lighten($color-success, $color-tint-lighter),
	error-dark: darken($color-error, $color-tint-dark),
	error-darker: darken($color-error, $color-tint-darker),
	error-light: lighten($color-error, $color-tint-light),
	error-lighter: lighten($color-error, $color-tint-lighter)
);

//
// Background Positions
//
$background-position-center: center center !default;
$background-position-top: top center !default;
$background-position-right: center right !default;
$background-position-bottom: bottom center !default;
$background-position-left: center left !default;

$global-background-positions: (
	'center': $background-position-center,
	'top': $background-position-top,
	'right': $background-position-right,
	'bottom': $background-position-bottom,
	'left': $background-position-left
) !default;

//
// Background Sizes
//
$background-size-cover: cover !default;
$background-size-contain: contain !default;
$background-size-auto: auto !default;

$global-background-sizes: (
	'cover': $background-size-cover,
	'contain': $background-size-contain,
	'auto': $background-size-auto
) !default;

//
// Box Shadows
//
$box-shadow-lowest: inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 6px 12px -6px rgba(map-get($colors, black), .2) !default;
$box-shadow-lower: inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 4px 8px -4px rgba(map-get($colors, black), .2) !default;
$box-shadow-low: inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 2px 4px -2px rgba(map-get($colors, black), .2) !default;
$box-shadow-none: none !default;
$box-shadow-high: 0 0 1px rgba(map-get($colors, black), .6), 0 5px 10px -3px rgba(map-get($colors, black), .4) !default;
$box-shadow-higher: 0 0 1px rgba(map-get($colors, black), .6), 0 10px 25px -4px rgba(map-get($colors, black), .4) !default;
$box-shadow-highest: 0 0 1px rgba(map-get($colors, black), .6), 0 20px 55px -8px rgba(map-get($colors, black), .4) !default;

$global-box-shadows: (
	'lowest': $box-shadow-lowest,
	'lower': $box-shadow-lower,
	'low': $box-shadow-low,
	'none': $box-shadow-none,
	'high': $box-shadow-high,
	'higher': $box-shadow-higher,
	'highest': $box-shadow-highest
) !default;

//
// Border Styles
//
$border-style-none: none !default;
$border-style-dashed: dashed !default;
$border-style-dotted: cover !default;
$border-style-solid: solid !default;

$global-border-styles: (
	'none': $border-style-none,
	'dotted': $border-style-dashed,
	'dashed': $border-style-dotted,
	'solid': $border-style-solid
) !default;

//
// Border Widths
//
$border-width-0: 0 !default;
$border-width-1: 1px !default;
$border-width-2: 2px !default;
$border-width-3: 3px !default;

$global-border-widths: (
	'0': $border-width-0,
	'1': $border-width-1,
	'2': $border-width-2,
	'3': $border-width-3
) !default;

//
// Clearing
//
$clear-none: none !default;
$clear-left: left !default;
$clear-right: right !default;
$clear-both: both !default;

$global-clearing: (
	'none': $clear-none,
	'left': $clear-left,
	'right': $clear-right,
	'both': $clear-both,
) !default;

//
// Column Counts
//
$column-count-1: 1 !default;
$column-count-2: 2 !default;
$column-count-3: 3 !default;
$column-count-4: 4 !default;

$global-column-counts: (
	'1': $column-count-1,
	'2': $column-count-2,
	'3': $column-count-3,
	'4': $column-count-4
) !default;

//
// Displays
//
$display-none: none !default;
$display-inline: inline !default;
$display-inline-block: inline-block !default;
$display-block: block !default;
$display-table: table !default;
$display-table-cell: table-cell !default;
$display-flex: flex !default;
$display-inline-flex: inline-flex !default;

$global-displays: (
	'hide': $display-none,
	'inline': $display-inline,
	'inline-block': $display-inline-block,
	'block': $display-block,
	'table': $display-table,
	'table-cell': $display-table-cell,
	'flex': $display-flex,
	'inline-flex': $display-inline-flex
) !default;

//
// Floats
//
$float-left: left !default;
$float-right: right !default;
$float-none: none !default;

$global-floats: (
	'left': $float-left,
	'right': $float-right,
	'none': $float-none
) !default;

//
// Font Families
//
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

$global-font-families: (
	'system': $font-family-system,
	'sans-serif': $font-family-sans-serif,
	'serif': $font-family-serif,
	'monospace': $font-family-monospace
);

//
// Font Sizes
//
$font-size-xsmall: .67em !default;
$font-size-small: .83em !default;
$font-size-medium: 1em !default;
$font-size-large: 1.17em !default;
$font-size-xlarge: 1.5em !default;
$font-size-super: 2em !default;

$global-font-sizes: (
	'xsmall': $font-size-xsmall,
	'small': $font-size-small,
	'medium': $font-size-medium,
	'large': $font-size-large,
	'xlarge': $font-size-xlarge,
	'super': $font-size-super
) !default;

//
// Font Variants
//
$font-variant-normal: normal !default;
$font-variant-small-caps: small-caps !default;

$global-font-variants: (
	'normal-caps': $font-variant-normal,
	'small-caps': $font-variant-small-caps
) !default;

//
// Font Weights
//
$font-weight-thin: 200 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 800 !default;

$global-font-weights: (
	'thin': $font-weight-thin,
	'light': $font-weight-light,
	'regular': $font-weight-regular,
	'medium': $font-weight-medium,
	'semibold': $font-weight-semibold,
	'bold': $font-weight-bold,
	'black': $font-weight-black
) !default;

//
// Letter Spacing
//
$letter-spacing-tight: -.05em !default;
$letter-spacing-none: 0 !default;
$letter-spacing-xsmall: .01em !default;
$letter-spacing-small: .025em !default;
$letter-spacing-medium: .05em !default;
$letter-spacing-large: .1em !default;
$letter-spacing-xlarge: .15em !default;
$letter-spacing-super: .25em !default;

$global-letter-spacing: (
	'tight': $letter-spacing-tight,
	'none': $letter-spacing-none,
	'xsmall': $letter-spacing-xsmall,
	'small': $letter-spacing-small,
	'medium': $letter-spacing-medium,
	'large': $letter-spacing-large,
	'xlarge': $letter-spacing-xlarge,
	'super': $letter-spacing-super
) !default;

//
// Line Heights
//
$line-height-none: 0 !default;
$line-height-xsmall: 1.125 !default;
$line-height-small: 1.25 !default;
$line-height-medium: 1.5 !default;
$line-height-large: 1.625 !default;
$line-height-xlarge: 1.75 !default;
$line-height-super: 2 !default;

$global-line-heights: (
	'none': $line-height-none,
	'xsmall': $line-height-xsmall,
	'small': $line-height-small,
	'medium': $line-height-medium,
	'large': $line-height-large,
	'xlarge': $line-height-xlarge,
	'super': $line-height-super
) !default;

//
// Opacities
//
$opacity-0: 0 !default;
$opacity-10: .1 !default;
$opacity-20: .2 !default;
$opacity-30: .3 !default;
$opacity-40: .4 !default;
$opacity-50: .5 !default;
$opacity-60: .6 !default;
$opacity-70: .7 !default;
$opacity-80: .8 !default;
$opacity-90: .9 !default;
$opacity-100: 1 !default;

$global-opacities: (
	'0': $opacity-0,
	'10': $opacity-10,
	'20': $opacity-20,
	'30': $opacity-30,
	'40': $opacity-40,
	'50': $opacity-50,
	'60': $opacity-60,
	'70': $opacity-70,
	'80': $opacity-80,
	'90': $opacity-90,
	'100': $opacity-100
) !default;

//
// Order
//
$order-first: -1 !default;
$order-unordered: 0 !default;
$order-last: 1 !default;

$global-ordering: (
	'first': $order-first,
	'unordered': $order-unordered,
	'last': $order-last
) !default;

//
// Radii
//
$radius-none: 0 !default;
$radius-radius: .25em !default;
$radius-round: 30em !default;
$radius-circle: 100% !default;

$global-radii: (
	'none': $radius-none,
	'radius': $radius-radius,
	'round': $radius-round,
	'circle': $radius-circle
) !default;

//
// Ratios
//
$global-ratios: (
	(2:1),
	(4:3),
	(16:9),
	(21:9)
) !default;

//
// Rotations
//
$rotation-0: 0 !default;
$rotation-90: 90 !default;
$rotation-180: 180 !default;
$rotation-270: 270 !default;

$global-rotations: (
	'0': $rotation-0,
	'90': $rotation-90,
	'180': $rotation-180,
	'270': $rotation-270
) !default;

//
// Speeds
//
$speed-instant: 0 !default;
$speed-fast: 200ms !default;
$speed-medium: 300ms !default;
$speed-slow: 500ms !default;
$speed-kenburns: 15s !default;

$global-speeds: (
	'instant': $speed-instant,
	'fast': $speed-fast,
	'medium': $speed-medium,
	'slow': $speed-slow,
	'kenburns': $speed-kenburns
) !default;

//
// Vertical Alignment
//
$valign-baseline: baseline !default;
$valign-top: top !default;
$valign-middle: middle !default;
$valign-bottom: bottom !default;
$valign-text-top: text-top !default;
$valign-text-bottom: text-bottom !default;

$global-vertical-alignment: (
	'baseline': $valign-baseline,
	'top': $valign-top,
	'middle': $valign-middle,
	'bottom': $valign-bottom,
	'text-top': $valign-text-top,
	'text-bottom': $valign-text-bottom
) !default;

//
// White Space
//
$white-space-normal: normal !default;
$white-space-nowrap: nowrap !default;
$white-space-pre: pre !default;

$global-white-space: (
	'normal': $white-space-normal,
	'nowrap': $white-space-nowrap,
	'pre': $white-space-pre
) !default;

//
// Word Breaks
//
$word-break-normal: normal !default;
$word-break-wrap: break-all !default;
$word-break-nowrap: keep-all !default;

$global-word-breaks: (
	'normal': $word-break-normal,
	'wrap': $word-break-wrap,
	'nowrap': $word-break-nowrap
) !default;

//
// Z Indexes
//
$z-under: -100 !default;
$z-0: 0 !default;
$z-100: 100 !default;
$z-200: 200 !default;
$z-300: 300 !default;
$z-400: 400 !default;
$z-500: 500 !default;

$global-z-indexes: (
	'under': $z-under,
	'0': $z-0,
	'100': $z-100,
	'200': $z-200,
	'300': $z-300,
	'400': $z-400,
	'500': $z-500
) !default;

//
// Borders
//
$global-border-width: 1px !default;
$global-border-style: solid !default;
$global-border-color: map-get($colors, default) !default;
$global-border-radius: map-get($global-radii, radius) !default;
