/* ==========================================================================
   #FLOAT
   ========================================================================== */




//
// Dependencies
//

@import "../settings/settings.global";
@import "../tools/tools.media-queries";




//
// Options
//

$float-namespace: $global-namespace-layouts + 'float' !default;
$float-modifier: $global-separator-modifier !default;

$float-map: $global-floats !default;

$float-margin: true !default;

$float-responsive: true !default;
$float-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin float-classes($breakpoint-alias: null) {

	@each $name, $value in $float-map {

		.#{$float-namespace}#{$float-modifier}#{$name}#{$breakpoint-alias} {
			float: $value;

			@if ($float-margin == true and $value == left) {
				margin-right: $global-spacing-default;
				margin-bottom: $global-spacing-default;
			}

			@if ($float-margin == true and $value == right) {
				margin-left: $global-spacing-default;
				margin-bottom: $global-spacing-default;
			}
		}

	}

}




//
// Classes
//

@include float-classes;




//
// Responsive Classes
//

@if ($float-responsive == true) {

	@each $size, $width in $float-breakpoints {

		@include media('>#{$size}') {

			@include float-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
