<!doctype html>

<html class="" lang="en">

	<head>

		<!-- Global Metadata-->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Page Metadata -->
		<title></title>
		<meta name="description" content="">

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/assets/styles/themes.example.css">

		<!-- Robots & Indexing -->
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="1 days">

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

	</head>

	<body class="">

		{% include "includes/header.html" %}

		{% block content %}{% endblock %}

		{% include "includes/footer.html" %}

		<!-- Scripts -->
		<script type="text/javascript" src="/assets/scripts/toolkit.js"></script>

	</body>

</html>
