/* ==========================================================================
   #TEXT-ALIGN
   ========================================================================== */




//
// Dependencies
//

@import "../settings/settings.global";
@import "../tools/tools.media-queries";




//
// Options
//

$text-align-namespace: $global-namespace-utilities + '' !default;
$text-align-modifier: '' !default;

$text-align-map: $global-text-alignment !default;

$text-align-responsive: true !default;
$text-align-breakpoints: $global-breakpoints !default;




//
// Placeholders
//

@each $name, $value in $text-align-map {

	%#{$text-align-namespace}#{$text-align-modifier}#{$name} {
		text-align: $value;
	}

}




//
// Mixins
//

@mixin text-align-classes($breakpoint-alias: null) {

	@each $name, $value in $text-align-map {

		.#{$text-align-namespace}#{$text-align-modifier}#{$name}#{$breakpoint-alias} {

			@extend %#{$text-align-namespace}#{$text-align-modifier}#{$name};

		}

	}

}




//
// Classes
//

@include text-align-classes;




//
// Responsive Classes
//

@if ($text-align-responsive == true) {

	@each $size, $width in $text-align-breakpoints {

		@include media('>#{$size}') {

			@include text-align-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
